@import url(reset.css);
@import url(fontello.css);

body,
html {
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    background: #e9f4f8 linear-gradient(to bottom, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, 0) 100%);
}

.timer-container {
    width: 21.9375rem;
    height: 3.375rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #c3dff2;
    border: .0625rem solid #ccc;
    border-radius: .375rem;
    box-shadow: inset .0625rem .125rem 0 rgba(255, 255, 255, .43), 0 .125rem .375rem black;
    line-height: 0;
    font-size: 0;
}

.controls {
    display: inline-block;
    background: #8fc4e6 linear-gradient(to top, rgba(207, 207, 207, .48) 0%, rgba(255, 255, 255, .48) 100%);
    border: .0625rem solid #88b5d6;
    border-radius: .3125rem;
    box-shadow: inset .0625rem .0625rem 0 rgba(255, 255, 255, .69);
    text-align: center;
}

button {
    width: 2.625rem;
    height: 2.625rem;
    margin: .3125rem;
    background: #cae9ff linear-gradient(to top, transparent 0%, rgba(255, 255, 255, .63) 100%);
    border: .0625rem solid #ccc;
    box-shadow: inset .0625rem .0625rem 0 white, 0 .125rem .25rem rgba(0, 0, 0, .07);
    border-radius: 50%;
    color: #174362;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}

.timer {
    display: inline-block;
}

.time {
    text-shadow: .0625rem .0625rem 0 white;
    color: #184767;
    font-family: LucidaGrande, 'Times New Roman', serif;
    font-size: 1.875rem;
    font-weight: 700;
    margin: 0 1.25rem;
    vertical-align: middle;
}

.icon-play:before {
    margin-right: 0;
}